.pongopal{
    width: 100%;
    height: 15vh;
    z-index: 999;
   @include space ();
   background-color: antiquewhite;
   position: sticky;
   top: 0;
   .logo{
    width: 20%;
    height: 20vh;
    @include center();
    font-size: 28px;
   }

   nav{
    width: 80%;
    height: 20vh;
    @include center();
 
    ul{
        @include space ();
      
      li{
        margin: 10px;
        
        a{
            // font-size: 18px;
            color: black;
            &:hover{
            
              background-color: rgb(231, 220, 228);
          }
           
        }
      }
    }
   
   }
}