.about {
  width: 100%;
  height: 70vh;
  @include center();
  .wrapper {
    width: 80%;
    height: 50vh;
    @include between();
    .left-text{
        width: 60%;
        button{
            margin-top: 30px;
            @include info-more-btn();

        }
    }
  }
}
